body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#main{
    width: 100%;
    height: 100vh;
    position: relative;
}

/* navbar */
.nav_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.3em;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 5px 5px 0 rgba(51, 49, 49, 0.2);
    border-radius: 7px;
    position: fixed;
    top: 0;
    left: auto;
    width: 100%;
    z-index: 111;
}

.logo {
   right: 41%;
   transform: scale(0.2, 0.2);
   transition: all 0.4s ease;
   position: relative;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 45%;
    right: 5%;
    position: absolute;
}

.nav_links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 600;
    padding: 13px 10px;
    border-radius: 7px;
    transition: all 0.4s ease;
}

.nav_links li {
    list-style: none;
}

.link-hover:hover {
    background: #3f6dec;
    color: white;
}

.burger {
    display: none;
}
#click {
    display: none;
}

.model img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.model{
    width: 900px;
    height: 900px;

}
.content{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin:2%;
    transform: translate(-50%, -50%);
}
.text{
    width: 1500px;
    position: relative;
    left: 20px;
}
.text h1{
    font-size: 4rem;
    color: #1c3548;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
}
.text p{
    color: #747474;
}
.profile-btn{
    width: 190px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #3263e9;
    border-radius: 20px;
    box-shadow: 4px, 10px, 30px rgba(24, 139, 119 , 0.2);
}
.profile-btn:hover{
    background-color: #3f6dec;
    transition: all ease 0.2s;
}
#about{
    display: flex;
    justify-content: space-around;
     align-items: center;
     width: 90%;
     margin: auto auto 50px auto;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-heading h2{
    color: #1c3548;
    font-size: 3.3rem;
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1px;  
    position: relative;
    left: 33px;
}
#about p{
    position: relative;
    left: 39px;
}
#skills{
    display: flex;
    justify-content: space-around;
     align-items: center;
     width: 90%;
     margin: auto auto 50px auto;
     /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.skills-text{
    width: 400px;
}
.skill-image{
    width: 600px;
    height: 600px;
}
.skill-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.skill-heading span{
    color: #36b7b5;
}
.skill-heading h2{
    color: #1c3548;
    font-size: 3.3rem;
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1px;
}
.s-box-container{
    margin-top: 30px;
}
.skill-box{
    display: flex;
    margin: 25px 0px;
}
.s-box-icon{
    margin-right: 12px;
}
.s-box-icon i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-size: 1.1rem;
}
.s-box-text strong{
    color: #1c3548;
    margin: 0px;
    font-size: 0.9rem;
    font-weight: 600;
}
.s-box-text p{
    color: #747474;
    font-size: 00.9rem;

}
.fa-html5{
    color: #e06061;
}
.fa-css3-alt{
    color: #416cdf;
}
.fa-js-square{
    color: #f98231;
}
#certificate{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto auto 50px auto;
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.c-heading{
    position: relative;
    right: 4%;
}
.c-heading h2{
    color: #1c3548;
    font-size: 3.3rem;
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1px;
}
.c-heading span{
    color: #36b7b5;
}    
#cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box1{
    background-color: white;
    width: 358px;
    height: 355px;
    box-shadow: 0 9px 9px rgba(0,0,0,0.2);
    border-radius: 8px;
}
.rect1{
    background: #053B6E;
    width: 355px;
    height: 158.52px;
    border-radius: 6px 6px 0px 0px;
}
.imgc3{
    height: 210px;
    width: 354px;
    border-radius: 5px;
}

.box2{
    background-color: white;
    width: 358px;
    height: 355px;
    box-shadow: 0 9px 9px rgba(0,0,0,0.2);
    border-radius: 8px;
}
.rect2{
    background: #053B6E;
    width: 355px;
    height: 158.52px;
    border-radius: 6px 6px 0px 0px;
}
.imgc2{
    height: 210px;
    width: 355px;
    border-radius: 5px;
}

.box3{
    background-color: white;
    width: 358px;
    height: 355px;
    box-shadow: 0 9px 9px rgba(0,0,0,0.2);
    border-radius: 8px;
}
.rect3{
    background: #053B6E;
    width: 355px;
    height: 158.52px;
    border-radius: 6px 6px 0px 0px;
}
.imgc1{
    height: 210px;
    width: 354px;
    border-radius: 5px;
}
.box-heading{
    font-family: 'Scheherazade New', serif;
    margin-left: 5%;
    text-decoration: underline;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
}
.box-heading-content{
    font-size: 20px;
    font-family: 'Scheherazade New', serif;
    margin-left: 5%;
    margin-top: -7%;
}
.box-heading-content-date{
    font-size: 17px;
    font-family: 'Scheherazade New', serif;
    margin-left: 62%;
    position: relative;
    bottom: 5%;
    font-style: normal;
    font-weight: bold;
    color: rgba(77, 77, 77, 0.5);
}
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0px;
}
#contact h3{
    color: #1c3548;
    font-size: 3rem;
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 26%;
}
#contact img{
    height: 400px;
    width: 550px;
    position: relative;
    left: 25%;
}
.contact-input{
    width: 400px;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    margin-left: 35%;
}
.contact-input input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: #242425;
}
.contact-input button{
    width: 200px;
    height: 35px;
    background-color:  #12884d;
    color: #ffffff;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    border-radius: 20px;
    font-weight: 500;
    border: none;
}
.contact-input button:hover{
    background-color: #179e5b;
    transition: all ease 0.2s;
}
.contact-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.insta img{
    height: 60px;
}
.fb img{
    height: 70px;
}
.linkedin img{
    height: 48px;
}

@media only screen and (max-width: 768px) {
    .overflow {
        min-height: 100%;
        min-width: 100%;
        position: relative;
        overflow-x: hidden !important;
    }
    #click:checked ~ .burger i:before{
        content: "\f00d";
        color: red;
    }
    .nav_links {
        position: fixed;
        right: 0px;
        top: 15%;
        height: 75%;
        width: 100%;
        transform: translateX(100%);
        display: flex;
        flex-direction: column;
        padding: 15px;
        padding-left: 10px;
        margin: 0px;
        background-color: rgba(245, 245, 245, 1);
        transition: all 0.4s ease-in;
        box-shadow: 0 10px 20px 0 rgba(51, 49, 49, 0.2);
        border-radius: 10px;
        z-index: 3;
    }
    
    #click:checked ~ .nav_links{
        transform: translateX(0%);
     }

    .nav_links a {
        color: black;
        text-decoration: none;
        text-align: center;
        letter-spacing: 3px;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 15px 8px;
        border-radius: 7px;
        display: block;
        transition: all 0.4s ease;
        }
    
    .logo {
        right: 0%;
        top: 0%;
        transform: scale(0.15, 0.15);
        transition: all 0.4s ease;
        z-index: 2;
     }

    .burger {
        display: block;
        right: 15%;
        cursor: pointer;
        color: green;
        font-size: 20px;
        position: absolute;
    }  

    .nav_box {
        width: 100%;
        height: 3em;
        border: 0px solid white;
        background-color: white;
        padding: 10px;
        z-index: 112;
    }
    .text h1{
        width:100%
    }
}

 
@media (max-width:900px){
    nav{
        justify-content: space-between;
        height: 65px;
        padding: 0px 30px;
        width: 100%;
    }
    body {
        overflow-x: hidden;
    }
    .logo img{
        height: 35%;
        position: relative;
        right: 180%;
    }
    .menu{
        display: none;
    }
    .model_img {
        position: absolute;
        top: 280px;
        height: 200%;
        width: 200%;
    }
    .content{
        margin-top: -88px;
    }
    .text h1 {
        position: relative;
        left: -155px;
        font-size: 3.8vh;
        width: 400%;
        line-height: 1;
    }
    .text p {
        text-align: center;
    }
    .profile-btn {
        position: relative;
        left: 35px;
        margin-top: 20px;
    }
    #about{
        position: relative;
        left: -34px;
        top: 180px;
        width: 70%;
    }
    .about-text{
        text-align: center;
    }
    #skills {
        position: relative;
        top: 210px;
        text-align: center;
        left: 15px;
        width: 50%;
    }
    .s-box-icon {
        position: absolute;
        height: 200%;
        width: 2000%;
        left: -45px;
    
    }
    .s-box-container {
        position: relative;
        left: 10px;
        margin-top: 40px;
    }
    .skill-image {
        position: absolute;
        /* position: relative; */
        top: 550px;
        height: 300px;
        width: 300px;
        text-align: center;
        left: -70px;
    }
    #certificate {
        position: relative;
        top: 400px;
        left: 20px;
        text-align: center;
    }
    #cards {
        position: relative;
        top: 450px;
        left: 15px;
    }
    .card1 {
        position: absolute;
        top: -20px;
        margin: 0;
        left: 5px;
    }
    .box2 {
        position: absolute;
        top: 400px;
        margin: 0;
        left: 5px;
    }
    .box3 {
        position: absolute;
        top: 780px;
        margin: 0;
        left: 5px;
    }
    #contact {
        position: relative;
        top: 1800px;
        left: -50px;
        height: 300px;
        width: 300px;
    }
    #contact img {
        position: absolute;
        width: 350px;
        top: -200px;
        height: 300px;
        left: 50px;
    }
    #contact h3 {
        position: relative;
        top: 80px;
        font-size: 35px;
    }
    .contact-input {
        position: relative;
        left: -40px;
        top: 90px;
        width: 330px;
        margin-top: 30px;
    }
    .contact-logo {
        position: relative;
        top: 1830px;
    }
}
